{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body class="margin-top">
    <h1>THIS PAGE IS UNDER DEVELOPMENT</h1>
    <p><a href="{% url 'home' %}">&laquo; GO BACK TO SHOPPING</a></p>
</body>

</html>
{% endblock %}