<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>R.I Textiles</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap">
    <link rel="stylesheet" href="{% static 'css/mdb-pro.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
    <script type="text/javascript">
        var user = '{{request.user}}'
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

    </script>



</head>

<body>
    <!-- Header -->
    <header class="header fixed-top">
        <!-- Top Bar -->

        <div class="header_main" style="background-color:rgb(255, 254, 254);">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-lg-2 col-sm-3 col-3 order-1">
                        <div class="logo_container">
                            <div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/RI.jpg' %}" alt=""
                                        width="200" height="100"></a></div>
                        </div>
                    </div> <!-- Search -->
                    <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                        <div class="header_search">
                            <div class="header_search_content">
                                <form class="input-group" action="/search" method="GET">
                                    <input type="search" name="search" required="required" class="form-control"
                                        placeholder="Search for products...">
                                    <button class="btn btn-success" style="border-radius: 0px 4px 4px 0px;"
                                        type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div> <!-- Wishlist -->
                    <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">

                        <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                            <!-- Cart -->
                            <a href="{% url 'cart' %}">
                                <div class="cart">
                                    <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                        <div class="cart_icon"> <i class="fas fa-shopping-cart"></i>
                                            <div class="cart_count"><span
                                                    id="total-items"><strong>{{cartItems}}</strong></span></div>
                                        </div>
                                        <div class="cart_content">

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Main Navigation -->
        <nav class="main_nav">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="main_nav_content d-flex flex-row">
                            <!-- Categories Menu -->
                            <!-- Main Nav Menu -->
                            <div class="main_nav_menu">
                                <ul class="standard_dropdown main_nav_dropdown">
                                    <li><a id="{% block homeactive %} {% endblock homeactive %}" href="{% url 'home' %}"
                                            class="">Home</a></li>
                                    <li class="hassubs"> <a id="{% block prodactive %} {% endblock prodactive %}"
                                            href="#" class="">Products <i class="fa fa-angle-down"></i></a>
                                        <ul>

                                            <li><a href="{% url 'home' %}products/" class="">All Products</a></li>
                                            {% for cat in categories %}
                                            <li><a
                                                    href="{% url 'home' %}products/?category={{cat.id}}">{{cat.category}}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class=""> <a id="{% block contactactive %} {% endblock contactactive %}"
                                            href="{% url 'contactus' %}" class="">Contact Us<i class=""></i></a>

                                    </li>
                                    <li class=""> <a id="{% block aboutactive %} {% endblock aboutactive %}"
                                            href="{% url 'aboutus' %}" class="">About Us<i class=""></i></a>

                                    </li>

                                </ul>

                            </div> <!-- Menu Trigger -->

                            <div class="menu_trigger_container ml-auto">

                                <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">

                                    <div class="menu_burger">
                                        <div class="menu_trigger_text">menu</div>

                                        <div id="my_burger" class="cat_burger menu_burger_inner"
                                            style="margin-bottom: 3px;">
                                            <div class="bar1"></div>
                                            <div class="bar2"></div>
                                            <div class="bar3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="top_bar_user top_bar_user_long">
                        <i class="fa fa-user"></i>

                        {% if not request.user.is_authenticated %}
                        <div><a href="{% url 'register' %}">Register</a></div>
                        <div><a href="{% url 'login' %}">Sign in</a></div>
                        {% elif request.user.is_authenticated %}
                        <div><a href="{% url 'profile' %}">{{request.user.first_name}}</a></div>
                        <div><a href="{% url 'logout' %}">Log out</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <!-- Menu -->
        <div class="custom_dropdown" style="display: none;">
            <div class="custom_dropdown_list custom_dropdown_placeholder clc">
                <ul class="custom_list clc">
                </ul>
            </div>
        </div>
        <div class="page_menu">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page_menu_content">
                            <div class="page_menu_search">
                                <form method="GET" action="/search"> <input name="search" type="search"
                                        required="required" class="page_menu_search_input form-control"
                                        placeholder="Search for products..."> </form>
                            </div>
                            <ul class="page_menu_nav">

                                <li class="page_menu_item"> <a href="{% url 'home' %}">Home</a> </li>
                                <li class="page_menu_item has-children"> <a href="#">Products <i
                                            class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a class="all-products" href="{% url 'home' %}products/">All Products</a>
                                        </li>
                                        {% for cat in categories %}
                                        <li><a class="all-products"
                                                href="{% url 'home' %}products/?category={{cat.id}}">{{cat.category}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="page_menu_item"> <a href="{% url 'contactus' %}">Contact Us</a></li>
                                <li class="page_menu_item"> <a href="{% url 'aboutus' %}">About Us</i></a></li>

                            </ul>
                            <div class="menu_contact" style="text-align: center;">

                                <div class="top_bar_user jus">
                                    <i class="fa fa-user"></i>
                                    {% if not request.user.is_authenticated %}
                                    <div><a style="text-decoration: none; " href="{% url 'register' %}">Register</a>
                                    </div>
                                    <div><a style="text-decoration: none; " href="{% url 'login' %}">Sign in</a></div>
                                    {% elif request.user.is_authenticated %}
                                    <div><a style="text-decoration: none; "
                                            href="{% url 'profile' %}">{{request.user.first_name}}</a></div>
                                    <div><a style="text-decoration: none; " href="{% url 'logout' %}">Log out</a></div>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block content %}

    {% endblock content %}
    <!-- Button trigger modal -->



    <footer class="page-footer font-small stylish-color-dark mt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center  text-md-left pt-4 pt-md-5">

            <!-- Grid row -->
            <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto mt-3 mt-md-0 mb-0 mb-md-4" style="text-align: center; overflow: hidden;">

                    <!-- Links -->
                    <h5 style="color: aliceblue;">Find us on google</h5>
                    <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

                    <p class="foot-desc mb-0"><iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1072.1356190070876!2d83.00691691762327!3d25.330397840674692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e2fa1fde81edd%3A0x94fb716337ad063b!2sR.I.Textiles!5e0!3m2!1sen!2sin!4v1613981099779!5m2!1sen!2sin"
                            width="325" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto mt-3 mt-md-0 mb-0 mb-md-4" style="text-align: center;">

                    <!-- Links -->
                    <h5 style="color: aliceblue;">Products</h5>
                    <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

                    <ul class="list-unstyled foot-desc">
                        <li class="mb-2">
                            <a href="{% url 'products' %}?category=1">Sarees</a>
                        </li>
                        <li class="mb-2">
                            <a href="{% url 'products' %}?category=2">Dupattas</a>
                        </li>
                        <li class="mb-2">
                            <a href="{% url 'products' %}?category=3">Suits</a>
                        </li>

                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto mt-3 mt-md-0 mb-0 mb-md-4" style="text-align: center;">

                    <!-- Links -->
                    <h5 style="color: aliceblue;">Useful Links</h5>
                    <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

                    <ul class="list-unstyled foot-desc">
                        <li class="mb-2">
                            <a href="{% url 'contactus' %}">Contact Us</a>
                        </li>
                        <li class="mb-2">
                            <p>Phone no</p>
                        </li>

                        <li class="mb-2">
                            <a href="mailto:ritextiles0@gmail.com">Help</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© <span id="current-year"></span> Copyright:
            <p>All Rights Reserved</p>
        </div>
        <!-- Copyright -->

    </footer>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script type="text/javascript" src="{% static 'js/headerscript.js' %}"></script>
