{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
	.header {
		display: none;
	}

	.box-element {
		max-width: 500px;
		margin: auto;
	}

	.pass_show {
		position: relative
	}

	.pass_show .ptxt {

		position: absolute;
		top: 70%;
		right: 10px;

		z-index: 1;

		color: #b3003b;

		margin-top: -10px;

		cursor: pointer;

		transition: .3s ease all;

	}

	.pass_show .ptxt:hover {
		color: #333333;
	}

	footer {
		display: none;
	}
</style>


<div class="container margin-top">
	<h2 style="text-align: center;"><strong>Reset Password</strong></h2>
	<p class="alert alert-info"><i class="fa fa-info-circle"></i> Forgotten your password? Enter your email address
		below, and we’ll email instructions for setting a new one.</p>
	<div class="box-element mt-4">
		<div class="login-page">
			{% for message in messages %}
			<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
				{{message}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endfor %}

			<div class="form">


				<form action="" method="POST">
					{% csrf_token %}
					{{form}}
					<button type="submit" class="btn-success btn mt-3" style="display: block; width: 100%;">Reset
						password</button>

				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$('#id_email').addClass('form-control');
</script>

{% endblock %}