{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .header {
        display: none;
    }

    .box-element {
        max-width: 500px;
        margin: auto;
    }

    .pass_show {
        position: relative
    }

    .pass_show .ptxt {

        position: absolute;
        top: 70%;
        right: 10px;

        z-index: 1;

        color: #b3003b;

        margin-top: -10px;

        cursor: pointer;

        transition: .3s ease all;

    }

    .pass_show .ptxt:hover {
        color: #333333;
    }

    footer {
        display: none;
    }
</style>


<div class="container margin-top">
    <h2 style="text-align: center;"><strong>Password reset sent</strong></h2>
    <div class="alert alert-info">
        <p><i class="fa fa-info-circle"></i> We’ve emailed you instructions for setting your password, if an account
            exists with the email you entered. You should receive them shortly.</p>

        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
            your spam folder.</p>
    </div>

</div>
<script>
    $('#id_email').addClass('form-control');
</script>

{% endblock %}