{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .header {
        display: none;
    }

    .box-element {
        max-width: 500px;
        margin: auto;
    }

    .pass_show {
        position: relative
    }

    .pass_show .ptxt {

        position: absolute;
        top: 70%;
        right: 10px;

        z-index: 1;

        color: #b3003b;

        margin-top: -10px;

        cursor: pointer;

        transition: .3s ease all;

    }

    .pass_show .ptxt:hover {
        color: #333333;
    }

    footer {
        display: none;
    }
</style>


<div class="container margin-top">
    <h2 style="text-align: center;"><strong>Password reset complete</strong></h2>
    <p class="alert alert-info"><i class="fa fa-info-circle"></i> Your password has been set. You may go ahead and log
        in now.</p>
    <div style="text-align: center;">
        <a class="my-btn" href="{% url 'login' %}">Log in</a>
    </div>
</div>


{% endblock %}